@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Password Reset Email Sent";
}

<div class="container mt-5">
    <div class="alert alert-info text-center mt-5">
        <h4 class="alert-heading">@ViewData["Title"]</h4>
        <p>
            We’ve sent a password reset link to your inbox. <br />
            Please check your email to continue.
        </p>
        <hr />
        <p class="mb-0">
            You will be redirected to the <a href="/Account/Login">login page</a> in 20 seconds...
        </p>
    </div>
</div>

<script>
    setTimeout(() => {
        window.location.href = '/Account/Manage/Login';
    }, 20000); 
</script>
