@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<h3 class="mt-5" style="margin-left: 50%">
    Please check your email to reset your password.
</h3>
