# ASP.NET Core specific
bin/
obj/
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
*.dbmdl
*.jfm

# Logs
logs/
*.log
!logs/.gitkeep

# Environment variables
.env
.env.local
.env.development
.env.production


# Secrets
secrets.json
secrets/

# Build files
dist/
publish/
node_modules/
bower_components/

# Docker
docker-compose.override.yml
.dockerignore
