@model IEnumerable<Module>

@{
    ViewData["Title"] = "Modules";
}

<div class="d-flex justify-content-start mb-4">
    <a href="@Url.Action("Index", "Course")" class="btn btn-outline-primary fw-bold">
        ← Back to Courses
    </a>
</div>

<h2 class="shadow-none" style="margin-left: 44%; margin-bottom: 20px">Available Modules</h2>

<div class="d-flex flex-column gap-4">
    @foreach (var module in Model)
    {
          @* Icons must be added later to show the type of modules *@
        <div class="card mx-auto shadow-lg border-0" style="max-width: 850px;">
            <div class="card">
                <img src="images/@(module?.Type?.TypeName).jpg" class="card-img-top" style="height: 200px; width:800px; object-fit: cover;" alt="@module?.Type?.TypeName">
                <div class="card-body">
                    <h5 class="card-title">@module?.Title</h5>
                    <p class="card-text">@module?.Description</p>
                <a class="btn" style="background-color:blue; color: white; font:bolder; position: absolute; right: 10px; bottom: 10px;">
                    Details
                </a>
                    <p class="card-text mt-3">
                        <small class="text-muted">
                            Posted on: @{
                                var createdAt = module.CreatedAt;
                                var showYear = createdAt.Year != DateTime.Now.Year;
                                var formattedDate = showYear
                                ? createdAt.ToString("MMM dd yyyy, HH:mm")
                                : createdAt.ToString("MMM dd, HH:mm");
                            }
                            @formattedDate
                        </small>
                    </p>
                </div>
            </div>
        </div>
    }
</div>
